@model EntityLayer.Concrete.Reservation

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<div class="container" style="margin-top:50px;margin-bottom:200px;">
    <table class="table">
        <tr>
            <th>Yolcu Adı</th>
            <th>Kalkış</th>
            <th>Varış</th>
            <th>Koltuk No</th>
            <th>Tarih</th>
            <th>İşlem</th>
        </tr>
       
            <tr>
                <td>@Model.Passenger.PassengerName</td>
                <td>@Model.BusService.ToCity.CityName</td>
                <td>@Model.BusService.FromCity.CityName</td>
                <td>@Model.Seat.SeatNo</td>
                <td>@Model.BusService.Date</td>
                <td>
                    <form action="/Bilet/DeleteTicket" method="post">
                        <input type="hidden" name="pnrNo" value="@Model.PnrNo" />
                        <button type="submit" class="btn btn-danger">Bilet İPTAL</button>
                    </form>
                </td>
            </tr>
        

    </table>
</div>
