@model List<EntityLayer.Concrete.Reservation>
<link href="~/MKTur/css/Koltuk.css" rel="stylesheet" />
<div class="BusSeat">
    @{
        var x = 1;
        bool y = true;
    }
    @for (int i = 0; i < 10; i++)
    {
        <div class="seats">
            @for (int j = 0; j < 3; j++)
            {
                @foreach (var item in Model)
                {
                    if (item.Seat.SeatNo == x)
                    {
                        <div class="seat">
                            <input type="checkbox" hidden id="@x" />
                            <label for="@x">@(x<10 ? x.ToString().Insert(0, "0") : x.ToString())<img src="~/MKTur/images/office-chair.png" width="30" /></label>
                        </div>
                        y = false;
                    }
                }
                if (y)
                {
                    <div class="seat">
                        <input type="checkbox" hidden id="@x" />
                        <label for="@x">@(x<10 ? x.ToString().Insert(0, "0") : x.ToString())<img src="~/MKTur/images/office-chair (1).png" width="30" /></label>
                    </div>
                }
                y = true;
                x++;
            }
        </div>
    }
</div>