@model List<EntityLayer.Concrete.BusService>
@{
    ViewData["Title"] = "SeferBilgileri";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<link rel="stylesheet" href="https://d3rh8btizouuof.cloudfront.net/css/cssPmk?v=207">
<div id="fh5co-features">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                    <div class="col-md-12 animate-box">
                        <div class="row" id="gidisBoxSticky">
                            <div class="damper" style="box-shadow: rgba(0, 0, 0, 0.48) 0px 0px 5px 0px; position: unset; top: unset; z-index: unset;">
                                <div class="col-md-12 gidisbox" id="gidis-box">
                                    <h1 class="gidisheadh3 colorfff  ">
                                        <span class="hidden-xs hidden-sm gidishead">Gidiş </span>
                                        <span class="hidden-xs hidden-sm">
                                            <a style="color:#fff;text-decoration:none !important;" href="https://www.pamukkale.com.tr/otobus-bileti/istanbul-esenler/">@item.ToCity.CityName</a>
                                        </span>
                                        &nbsp; - &nbsp;
                                        <span class="hidden-xs hidden-sm">
                                            <a style="color:#fff;text-decoration:none !important;" href="#">@item.FromCity.CityName</a>
                                        </span>
                                    </h1>
                                    <button type="submit" class="btn btn-pam mt0 inputseferdegis hidden-xs hidden-sm" style="min-width:95px;" id="gidisdegisiklik"><b>Sefer Değiştir</b></button>
                                </div>
                                <div class="row hidden-md hidden-lg" style="background: #ddd;  padding: 3px; margin: 0px;">
                                    <a href="#">
                                        <div class="col-xs-2" style="text-align: center;  height: 30px; padding: 5px 0px;"> </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-12 pd05">
                                <div class=" row sefer-list-kutu">
                                    <div class="col-md-2 col-xs-3 sefer-list-kutu-tarih koltuk-secmobile" data-firma="" data-id="3590892" data-tarih="2022-05-11 23:00:00" data-fiyat="279">
                                        <div class="sefersaat" title="Sefer Saati 23:00">@(((DateTime)item.Date).ToString("HH:mm"))</div>
                                        <span class="sefertarih  hidden-xs" data-placement="top" title="" style="padding: 0px 3px 2px 0px; font-weight: 500; color: #e20613 !important; background: #d1d1d1;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;" data-original-title="Tahmini Yolculuk Süresi"><i class="fa fa-clock-o" aria-hidden="true" style="padding-right: 2px;"></i>@(((DateTime)item.Date).ToString("dd-MMM-yyyy"))</span>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6 pd0 koltuk-secmobile" data-firma="" data-id="3590892" data-tarih="2022-05-11 23:00:00" data-fiyat="279">
                                        <div class="col-md-5 col-sm-12 col-xs-12 sefer-list-kutu-model pdb10bilet pdt10bilet text-center mobilmt hidden-xs hidden-sm" style="border: none; background-image: url('https://d3rh8btizouuof.cloudfront.net/images/jumbologo5.png'); background-size: cover; min-height: 62px; background-position: center;">
                                            <div class="aracmodel pd0">
                                            </div>
                                        </div>
                                        <div class="col-md-5 col-sm-12 col-xs-12 sefer-list-kutu-model pdb10bilet pdt10bilet text-center mobilmt hidden-md hidden-lg" style="margin-top:0;background: url('https://d3rh8btizouuof.cloudfront.net/images/jumbologo5.png'); min-height: 45px;background-position-x: center;background-size: cover;">
                                            <div class="aracmodel pd0">
                                            </div>
                                        </div>
                                        <div class="col-md-7 col-sm-7 col-xs-12 sefer-list-kutu-donanim pdb10bilet pdt10bilet aracdonanim hidden-xs hidden-sm mobilmt img-hover">
                                            <img src="https://d3rh8btizouuof.cloudfront.net/images/features/iconnewjumbo/zenginikram.png" height="27" alt="" style="margin-bottom:3px; margin-right:3px;" data-original-title="Zengin ikram menüsü" data-html="true" data-toggle="tooltip"><img src="https://d3rh8btizouuof.cloudfront.net/images/features/iconnewjumbo/zamankazandirir.png" height="27" alt="" style="margin-bottom:5px; margin-right:3px;" data-original-title="Zaman kazandırır" data-html="true" data-toggle="tooltip"><img src="https://d3rh8btizouuof.cloudfront.net/images/features/iconnewjumbo/geniskoltuk.png" height="27" alt="" style="margin-bottom:5px; margin-right:3px;" data-original-title="Geniş koltuk aralığı" data-html="true" data-toggle="tooltip"><img src="https://d3rh8btizouuof.cloudfront.net/images/features/iconnewjumbo/bebekkoltugu.png" height="27" alt="" style="margin-bottom:5px; margin-right:3px;" data-original-title="Bebek koltuğu" data-html="true" data-toggle="tooltip"><img src="https://d3rh8btizouuof.cloudfront.net/images/features/iconnewjumbo/tv.png" height="27" alt="" style="margin-bottom:5px; margin-right:3px;" data-original-title="Canlı tv" data-html="true" data-toggle="tooltip"><img src="https://d3rh8btizouuof.cloudfront.net/images/features/iconnewjumbo/220priz.png" height="27" alt="" style="margin-bottom:5px; margin-right:3px;" data-original-title="220V priz" data-html="true" data-toggle="tooltip"><img src="https://d3rh8btizouuof.cloudfront.net/images/features/iconnewjumbo/android.png" height="27" alt="" style="margin-bottom:5px; margin-right:3px;" data-original-title="Android ekran" data-html="true" data-toggle="tooltip"><img src="https://d3rh8btizouuof.cloudfront.net/images/features/iconnewjumbo/10incekran.png" height="27" alt="" style="margin-bottom:5px; margin-right:3px;" data-original-title="10 İnç büyük ekran" data-html="true" data-toggle="tooltip"><img src="https://d3rh8btizouuof.cloudfront.net/images/features/iconnewjumbo/wifi.png" height="27" alt="" style="margin-bottom:5px; margin-right:3px;" data-original-title="Ücretsiz internet bağlantısı" data-html="true" data-toggle="tooltip">
                                        </div>
                                        <div class="col-md-12 col-xs-12 col-sm-12 pd0 biletaciklama hidden-xs hidden-sm">
                                            <i style="color: #ffffff; font-size: 18px; position: absolute; left:15px; top:4px;" class="fa fa-angle-double-right " aria-hidden="true"></i>
                                            Peron 41-44
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-xs-3 col-sm-3 internetbilet mobilmt mobilmt2 koltuk-secmobile" data-firma="" data-id="3590892" data-tarih="2022-05-11 23:00:00" data-fiyat="279">
                                        <p class="internetfiyat " style="line-height:0.5;font-size: 15px;margin: 0; color:#888; font-weight:normal;">&nbsp;</p><p class="internetfiyat " style="line-height:1.1;">@item.Price<small style="font-size: 16px;"> TL</small></p>
                                    </div>
                                    <div class="col-md-2 col-xs-3 col-sm-3 sefersec sefersecdolu hidden-xs hidden-sm">
                                        <a href="/Seferler/BiletAl/@item.BusServiceId" class="btn btn-pam koltuk-sec"> SEFER SEÇ</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            }
        </div>
    </div>
</div>





